*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.blog-section{
    padding: 20px;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    background-color: #fff
}
.text-center{
    text-align: left;
    margin: 20px 0;
}
.blog-card{
    display: flex;
    justify-content: center;
}

.blog-box{
    background: #fff;
    box-shadow:7px 20px 20px 7px lightgrey;
    width: 300px;
    height: 350px;
    margin: 20px;
    border-radius: 8px;
    color:#4b4646;
}
.blog-box h3{
    margin: 10px 0;
    padding: 10px;
}
.blog-box a{
    text-decoration: none;
    color:#f1b40c ;
    font-weight: bold;
    padding: 10px;
}
.text-center h1:after {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    width: 11%; /* Change this to whatever width you want to have before hover. */
    padding-top: 20px; /* This creates some space between the element and the border. */
    border-bottom: 4px solid #f1b40c; /* This creates the border. Replace black with whatever color you want. */
    transition: .3s; /* This establishes the amount of time in seconds the animation should take from start to finish */
}

.text-center h1:hover:after {
    width: 25%; /* This will be the new width of your border when on hover */
}

@media (max-width:768px) {
    .blog-card{
        flex-direction: column;
    }
}