*{
    box-sizing: border-box;
margin: 0;
padding: 0;}
.aboutbg{
    
    background-image: url("cryto.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
}
.wrapper{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap:1em;
}
.stroke{
    width:30%;border: 0px;margin-left: 0px;height: 12px;background-color: #ff880e;transform: skew(-30deg)
}
.header{
    margin-top: 100px;
}
@media only screen and (max-width: 500px){
    .aboutbg{
        background-image: url("cryto.png");
        background-size: cover;
        background-repeat: no-repeat;
        height: 190px;
    }
    .wrapper{
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr;
        grid-template-areas: "img" "text";
    }
    .header{
        font-size: 20px;
        text-align: center;
    }
    .stroke{
        width:50%;border: 0px;margin-left: 80px;height: 12px;background-color: #ff880e;transform: skew(-30deg)
    }
}