body {
    margin: 0;
}

* {
    box-sizing:border-box;
}

header {
    background-color:aliceblue;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
}

.JoinUs{
    background-color: orange;
}

.brand-logo {
    display: flex;
    align-items: center;
}

.logo {
    width: 40px;
}

h1{
    font-size: 26px;
}

.currency {
    display: block;
    color: orange;
}

.email-icon,
.phone-icon {
    width: 20px;

}

nav {
    width: 65%;
    margin-left: auto;
    background-color:orange ;
} 


.nav-links {
    display: flex;
    padding: 10px 30px;
    margin: 0;
    list-style-type: none;
    column-gap: 40px;
}

.nav-links a {
    color: black;
    text-decoration: none;
}

.hero-banner {
    background-image: url(/images/coin-fist.jpeg);
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align:center;

}

.hero-banner h2 {
    font-size: 50px;
    color: white;
    padding-top: 100px;
}

button {
    background: transparent;
    text-decoration: none;
    color: white;
}
